.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding-top: 120px;
 
}

/* faz com que cada página ocupe todo o espaço disponível */
.app > * {
  flex: 1 0 auto; /* permite expandir verticalmente */
}
